extends layout

block content
  h1= 'WeatherChecker'
  p Check out some weather.

  body
    form(action='/', method='POST')
      p
        | Enter City:
        input(type='text', name='city', placeholder='city')
      input(type='submit', value='Submit')